<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="_Paginas/Mapa.html">Mapa</a></li>
        <li><a href="_Paginas/QuemSomos.html"> Quem Somos </a> </li>
        <li><a href="_Paginas/Cadastro.html"> Cadastro </a> </li>
        <li><a href="_Paginas/Login.html"> Login </a> </li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>